.Career_jobs{
    padding:2em 0px;
    h3{
        font-size: 24px;
        padding-bottom: 26px;
        font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
        color: #4f4e4a;
    }
    span{

    }
}