.banner {
    background: url("https://res.cloudinary.com/dsfzcj5qk/image/upload/v1601596457/DOZR%20Home%20Banner%20Image%20Update%20Oct%202020/DOZR_Header_Image_Desktop_m9s0a0.jpg") center center;
    height: 80vh;
    position: relative;
  }
  
  .banner__info {
      /* background-color: rgba(0, 0, 0, 0.267); */
      color: white;
      padding-top: 15vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 20px;
      width: 300px;
      position: relative;
      left: 5%;
      top: 5%;
      float: left;
      z-index: 100;
      font-size: 72px;
  }
  
  .banner__search {
      display: flex;
      flex-direction: column;
  }
  
  .banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color:#AC9456 !important;
  }
  
  .banner__info > button {
      background-color: #AC9456;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .banner__info > button:hover {
      background-color: white;
      color: #ff7779;
    }
    
  
  .banner__info > h5 {
      margin-top: 10px;
  }