.CustomerTestimonials{
    .bg-light-yellow{
        background-color: #F0EFEB;
    }
    .minih{
        min-height: 50vh;
    }
    .section{
        padding: 30px;
        h2{
            font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
            font-size: 43px;
            color: #4f4e4a;
            font-weight: 700;
            line-height: 1.3em;
            padding-bottom: 10px;
        }
    }
}