/* unvisited link */
$primary: #c6538c;
$secondary: black;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
}

h3 {
}

h4 {
}

.center{
    justify-content: center;
    text-align: center;
    align-items: center;
}

$grid-columns:      12;
$grid-gutter-width: 15px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
);